*,
*::after,
*::before {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'roboto';
}




.header-container {
    padding: 16px;
    display: flex;
    gap: 48px;
    justify-content: space-around;
    background-color: #1f2937;
}
.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}
.navigation {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
    gap:24px;
}




.hero-container {
    display: flex;
    justify-content: center;
    padding: 96px;
    gap: 48px;
    background-color: #1f2937;
    flex-wrap: wrap;
}
.hero-container img {
    width: 100%;
}
.hero {
    width: 470px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.hero-main {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}
.hero-secondary {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 8px;
}
button {
    background-color: #3882f6;
    border: none;
    color: #e5e7eb;
    font-size: 18px;
    padding: 8px;
    width: 140px;
    height: 42px;
    border-radius: 10px;
    font-weight: bold;
}




.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px;
}
h1 {
    margin-bottom: 48px;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}
.slides {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
    width: 65%;
}
.slides .illustration {
    width: 180px;
}
.slides img {
    width: 180px;
    height: 180px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}
.slides p {
    font-size: 18px;
    color: #1f2937;
    text-align: center;
}




.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
}
.quote {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 96px; 
    border: 1px solid;
}
.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;
}
.quote-source {
    text-align: right;
    font-size: 24px;
    font-weight: 900;
}




.action-container {
    display: flex;
    justify-content: center;
    padding: 72px;
}
.action {
    display: flex;
    background-color: #3882f6;
    width:90%;
    padding: 48px;
    justify-content: space-around;
    border-radius: 10px;
    color: #e5e7eb;
}
.action .main {
    font-size: 24px;
    font-weight: 900;
}
.action .second {
    font-size: 18px;
}
.action-container button {
    border: 3px solid white;
}




.footer-container {
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #e5e7eb;
    padding: 48px;
    font-size: 18px;
}